@font-face {
  font-family: 'Proxima Nova';
  src: local('ProximaNova-BoldIt'),
       url('ProximaNova-BoldIt.woff2') format('woff2'),
       url('ProximaNova-BoldIt.woff') format('woff'),
       url('ProximaNova-BoldIt.ttf') format('truetype'),
       url('ProximaNova-BoldIt.svg#ProximaNova-BoldIt') format('svg'),
       url('ProximaNova-BoldIt.eot') format('embedded-opentype');
  font-weight: 700;
  font-style: italic;
}

