/* 
color scheme:
    #ec1c23 as Red
    #1d2671 as Blue
    #f16529 as Orange
    #f5f7f1 as White
    #ccc as Light grey
    #6d6e71 as Dark grey

font-familiy:
    proxima nova
font-weight: 
*/

/* GENERAL */
#homepage body {
    font-family: proxima nova, sans-serif;
    font-weight: 200;
}

/* TODO: Define h1 default size  */

#homepage h2 {
    font-size: 82px;     
}

#homepage h3 {
    font-size: 42px;
}

#homepage h4 {
    font-size: 24px;
}

#homepage h5 {
    font-size: 12px;
    text-transform: uppercase;
    color: #ec1c23;
    font-weight: bold;
}

#homepage .card-section {
    padding: 100px 0;
}

/* NAVBAR */
#navbar {
    background-color: transparent;
    text-transform: uppercase;
    padding: 0 100px 100px 120px;
    font-size: 12px;
}

#navbar .nav-item {
    margin-right: 35px;
}
hr {
    display: none;
}
#navbar a {
    color: #f5f7f1;
    white-space: normal;
}

#navbar .btn {
    background-color: #f5f7f1;
    border: 0;
    color: #ec1c23;
    padding: 4px 7px 2px;
    font-size: 12px;
    text-transform: uppercase;
}

#navbar .navbar-toggler {
    color: #f5f7f1;
}

#navbar .dropdown-menu {
     /* For browsers that do not support gradients */
    background: #f5f7f1;

    background: -webkit-linear-gradient(#f5f7f1, #ccc);
    background: -o-linear-gradient(#f5f7f1, #ccc);
    background: -moz-linear-gradient(#f5f7f1, #ccc));
    background: linear-gradient(#f5f7f1, #ccc);

    width: 370px;
    left: 50%;
    right: auto;
    text-align: center;
    transform: translate(-50%, 0);
    border: none;
    padding: 15px;
}

#navbar a.dropdown-item {
    text-align: left;
    line-height: 1.25em;
    color: #6d6e71;
    font-size: 12px;
    text-transform: capitalize;
    padding-left: 0;
}

#navbar h5 {
    padding-left: 0;
}

#navbar .dropdown-menu ul{
    padding: 0;
}

#navbar .dropdown-menu li {
    list-style: none;
}

#navbar .arrow {
    border: 10px solid transparent;
    border-color: transparent transparent #f5f7f1 transparent;
    width: 0;
    height: 0;
    
    position: absolute;
    top: -20px;
    left: 50%;
    
    transform: translateX(-10px);
}

/* MOBILE NAVBAR*/
@media screen and (max-width : 768px) {
    #navbar .logo-white{
        height: 35px;
    }
    #navbar {
    padding: 15px 10px
    }
}

/* FIRST CARD */
#homepage .bluered-card {
    /* For browsers that do not support gradients */
    background: #ec1c23;
    
    background: -webkit-linear-gradient(#ec1c23, #1d2671);
    background: -o-linear-gradient(#ec1c23, #1d2671);
    background: -moz-linear-gradient(#ec1c23, #1d2671);
    background: linear-gradient(#ec1c23, #1d2671);
    
    padding-bottom: 100px;
    color: #f5f7f1;
}

#homepage .bluered-card h3 {
    padding-top: 100px;
}

#homepage .bluered-card h4 {
    padding: 5px 0 300px;
}

#homepage .card-title {
    text-align: center;
}

#homepage .img-triangle {
    padding-top: 60px;
}

/*MOBILE FIRST CARD*/
@media screen and (max-width : 768px) {
                hr {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 0.5px;
    width: 8%;
    height: 1px;
    border-color: #ccc;
    background-color: #ccc;
    opacity: 0.5;
    border-radius: 0.5px;
}
}

/* SECOND CARD */
#homepage .redorange-card {
    /* For browsers that do not support gradients */
    background: #f16529;
    
    background: -webkit-linear-gradient(#f16529, #ec1c23);
    background: -o-linear-gradient(#f16529, #ec1c23);
    background: -moz-linear-gradient(#f16529, #ec1c23);
    background: linear-gradient(#f16529, #ec1c23);

    padding: 100px 0;
    color: #f5f7f1;
}

#homepage .redorange-card a {
    color: #f5f7f1;
    font-weight: 500; 
}

#homepage .redorange-card .text-row-orangecard {
    padding-top: 200px;
}

/* THIRD CARD */
#homepage .white-card {
    text-align: center;
    color: #ec1c23;
}

#homepage .white-card .text-row-whitecard {
    padding-top: 100px;
}

/* CALL TO ACTION CARD */
/* Inherits backgrouds and link colors from SECOND CARD */
#homepage .call-to-action-card {
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
}

/* FOOTER */
#homepage .footer {
    /* For browsers that do not support gradients */
    background: #f5f7f1;

    background: -webkit-linear-gradient(#f5f7f1, #ccc);
    background: -o-linear-gradient(#f5f7f1, #ccc);
    background: -moz-linear-gradient(#f5f7f1, #ccc));
    background: linear-gradient(#f5f7f1, #ccc);

    list-style-type: none;
}

.footer a {
    color: #6d6e71;
    font-size: 12px; 
}

.footer p {
    margin-bottom: 0;
    color: #6d6e71;
    font-size: 10px;
}

.footer ul {
    list-style-type: none;
    padding: 0;
    line-height: 1.25em;
    color: #ec1c23;
}

.footer .social-icons {
    margin: 10px 0 0 0;
}

.footer .copyright a {
    font-size: 10px;
}

.footer .logo {
    padding: 0 0 20px;
}
