/* 
color scheme:
    #ec1c23 as Red
    #1d2671 as Blue
    #f16529 as Orange
    #f5f7f1 as White
    #ccc as Light grey
    #6d6e71 as Dark grey

font-familiy:
    proxima nova
font-weight: 
*/

/* GENERAL */

body {
    font-family: proxima nova, sans-serif;
    font-weight: 200;
}
.card-section {
    padding: 100px 0;
}

h2 {
    font-size: 82px;     
}

h3 {
    font-size: 42px;
}

h4 {
    font-size: 18px;    
}

h5 {
    font-size: 12px;
    text-transform: uppercase;
    color: #ec1c23;
    font-weight: bold;
}
p {
    font-size: 16px;
}

/* NAVBAR */

.navbar a {
    color: #f5f7f1;
    margin-right: 35px;
}

.navbar {
    background-color: transparent;
    text-transform: uppercase;
    padding: 0 100px 100px 120px;
    font-size: 12px;
}

.btn {
    background-color: #f5f7f1;
    border: 0;
    color: #ec1c23;
    padding: 4px 7px 2px;
    font-size: 14px;
    text-transform: uppercase;
}

.navbar-toggler {
    background: black;
}

/* FIRST CARD */

.bluered-card {
    background: #ec1c23;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ec1c23, #1d2671);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ec1c23, #1d2671);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ec1c23, #1d2671);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ec1c23, #1d2671);
    /* Standard syntax */
    padding-bottom: 100px;
    color: #f5f7f1;
}
.bluered-card h3 {
    padding-top: 100px;
}
.bluered-card h4 {
    padding: 5px 0 300px;
}
.card-title {
    text-align: center;
}
.img-triangle {
    padding-top: 60px;
}

/* SECOND CARD */

.redorange-card {
    background: #f16529;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#f16529, #ec1c23);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f16529, #ec1c23);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f16529, #ec1c23);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f16529, #ec1c23);
    /* Standard syntax */
    padding: 100px 0;
    color: #f5f7f1;
}

.redorange-card a {
    color: #f5f7f1;
    font-weight: 500; 
}

.redorange-card .text-row-orangecard {
    padding-top: 200px;
}

/* THIRD CARD */

.white-card {
    text-align: center;
    color: #ec1c23;
}

.white-card .text-row-whitecard {
    padding-top: 100px;
}

/* CALL TO ACTION CARD */

/* Inherits backgrouds and link colors from SECOND CARD */

.call-to-action {
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
}

/* FOOTER */

.footer {
    background: #f5f7f1;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#f5f7f1, #ccc);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f5f7f1, #ccc);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f5f7f1, #ccc));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f5f7f1, #ccc);
    /* Standard syntax */
    list-style-type: none;
}

.footer a {
    color: #6d6e71;
    font-size: 12px; 
}

.footer p {
    margin-bottom: 0;
    color: #6d6e71;
    font-size: 12px;
}
.footer ul {
    list-style-type: none;
    padding: 0;
    line-height: 1.25
}
.footer .copyright a {
    font-size: 10px;
}
.footer .copyright p {
    font-size: 10px;
}
.footer img {
    padding: 0 0 20px;
}
.footer .ul .i {
    color: #ec1c23;  
}

