<footer class="footer card-section">
    <div class="container-fluid">

        <div class="row"> <!-- primary row -->

            <div class="col-md-2 offset-md-1 col-sm-12"> <!-- logo etc -->
               <div class="row">
                    <div class="col-xs-12">
                        <div class="logo">
                            <img class="img-fluid orange-logo" src="images/logored.png">
                        </div>

                        <div class="phone-number">
                            <a href="tel:+18887968364">1-888-796-8364</a>
                        </div>

                        <div class="email">
                            <a href="#">info@cloud.ca</a>
                        </div>
                   </div>
                </div>
                <div class="social-icons">
                    <div class="row">
                        <div class="col-1">
                            <i class="fab fa-facebook-f"></i>
                        </div>
                        <div class="col-1">
                            <i class="fab fa-twitter"></i>
                        </div>
                        <div class="col-1">
                            <i class="fab fa-linkedin-in"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <i class="fab fa-google-plus-g"></i>
                        </div>
                        <div class="col-1">
                            <i class="fab fa-youtube"></i>
                        </div>
                        <div class="col-1">
                            <i class="fas fa-rss-square"></i>
                        </div>
                    </div>
                </div>
            </div> <!-- logo etc -->

            <div class="toggle-footer col-sm-12 d-sm-none"> <!-- menu items column -->
                <button
                    type="button"
                    class="btn d-md-none"
                    data-toggle="collapse"
                    data-target="#menu-items"
                    aria-controls="menu-items"
                    aria-expanded="false"
                >
                <div class="open-toggle">Collapse footer</div>
                <div class="close-toggle">Expand footer</div>
                </button>

                <div class="collapse row" id="menu-items"> <!-- menu items row -->

                    <div class="col-sm-12 why-cloudca">
                        <h5>Why cloud.ca</h5>
                        <ul>
                            <li><a href="#">Hyperscale comparison</a></li>
                            <li><a href="#">Use cases</a></li>
                            <li><a href="#">Locations</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-12 general">
                        <h5>General</h5>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Customers</a></li>
                            <li><a href="#">Partners</a></li>
                            <li><a href="#">White papers</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-12 sales">
                        <h5>Sales</h5>
                        <ul>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Request demo or a quote</a></li>
                            <li><a href="#">Events</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-12 support">
                        <h5>Support</h5>
                        <ul>
                            <li><a href="#">Get support</a></li>
                            <li><a href="#">SLA</a></li>
                            <li><a href="#">Certifications</a></li>
                            <li><a href="#">Status</a></li>
                            <li><a href="#">Knowledge base</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-12 developers">
                        <h5>Developers</h5>
                        <ul>
                            <li><a href="#">API docs</a></li>
                            <li><a href="#">Tools</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-12 product">
                        <h5>Product</h5>
                        <ul>
                            <li><a href="#">Multi-tenant cloud</a></li>
                            <li><a href="#">Storage</a></li>
                            <li><a href="#">Dedicated infrastructure</a></li>
                            <li><a href="#">Bare metal</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-12 pricing">
                        <h5>Pricing</h5>
                        <ul>
                            <li><a href="#">Option 1</a></li>
                            <li><a href="#">Option 2</a></li>
                            <li><a href="#">Option 3</a></li>
                        </ul>
                    </div>

                </div><!-- menu items row -->
            </div> <!-- menu items column -->

            <div class="col-md-9"> <!-- menu items column -->
                <div class="row" id="desktop-menu">

                    <div class="col-md-3 why-cloudca">
                        <h5>Why cloud.ca</h5>
                        <ul>
                            <li><a href="#">Hyperscale comparison</a></li>
                            <li><a href="#">Use cases</a></li>
                            <li><a href="#">Locations</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 general">
                        <h5>General</h5>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Customers</a></li>
                            <li><a href="#">Partners</a></li>
                            <li><a href="#">White papers</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 sales">
                        <h5>Sales</h5>
                        <ul>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Request demo or a quote</a></li>
                            <li><a href="#">Events</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 support">
                        <h5>Support</h5>
                        <ul>
                            <li><a href="#">Get support</a></li>
                            <li><a href="#">SLA</a></li>
                            <li><a href="#">Certifications</a></li>
                            <li><a href="#">Status</a></li>
                            <li><a href="#">Knowledge base</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 developers">
                        <h5>Developers</h5>
                        <ul>
                            <li><a href="#">API docs</a></li>
                            <li><a href="#">Tools</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 product">
                        <h5>Product</h5>
                        <ul>
                            <li><a href="#">Multi-tenant cloud</a></li>
                            <li><a href="#">Storage</a></li>
                            <li><a href="#">Dedicated infrastructure</a></li>
                            <li><a href="#">Bare metal</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 pricing">
                        <h5>Pricing</h5>
                        <ul>
                            <li><a href="#">Option 1</a></li>
                            <li><a href="#">Option 2</a></li>
                            <li><a href="#">Option 3</a></li>
                        </ul>
                    </div>

                </div> <!-- menu items row -->
            </div> <!-- menu items column -->
        </div> <!-- primary row -->


        <div class="row copy-privacy">
            <div class="col-md-3 offset-md-1 col-sm-12">
               <img id="mobile-footer-logo" src="images/logored.png">
                <p>&copy;2018 All Rights Reserved. Cloud.ca</p>
                <p class="privacy"> <a href="#">Privacy and Terms</a> </p>
            </div>
        </div>

    </div> <!-- .container-fluid -->
</footer>
