<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Cloud.ca</title>

    <!-- Proxima Nova Font CSS -->
    <link rel="stylesheet" type="text/css" href="{{ "fonts/proxima_nova/font.css" | absURL }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ "bootstrap-4.0.0-dist/css/bootstrap-grid.min.css" | absURL }}">
    <link rel="stylesheet" type="text/css" href="{{ "bootstrap-4.0.0-dist/css/bootstrap.min.css" | absURL }}">

    <link rel="stylesheet" type="text/css" href="{{ "css/style.css" | absURL }}">

    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
</head>
