 <nav id="navbar" class="navbar fixed-top navbar-expand-xl" role="navigation">
    <a class="navbar-brand" href="#">
    <img class="logo-red" src="{{ "images/logo-red-navbar.png" | absURL }}" alt="cloud.ca">
    <img class="logo-white" src="{{ "images/logowhite.png" | absURL }}" alt="cloud.ca">
    </a>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class=" nav navbar-nav ml-auto">
             <li class="nav-item active dropdown">
                <a
                    class="nav-link"
                    href="#"
                    id="navbarDropdownMenuLink-1"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                        Why cloud.ca <span class="sr-only">(current)</span>
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink-1">

                    <div class="arrow"></div>

                        <div class="row ">
                            <div class="col-sm-12">
                                <ul>
                                    <li><a class="dropdown-item" href="#">Hyperscale comparison</a></li>
                                    <li><a class="dropdown-item" href="#">Use cases</a></li>
                                    <li><a class="dropdown-item" href="#">Locations</a></li>
                                </ul>
                            </div>
                        </div>

                 </div>
            </li>
            <li class="nav-item dropdown">
                <a
                    class="nav-link"
                    href="#"
                    id="navbarDropdownMenuLink-2"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                        Product
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink-2">

                    <div class="arrow"></div>

                        <div class="row ">
                            <div class="col-sm-12">
                                <ul>
                                    <li><a class="dropdown-item" href="#">Multi-tenant cloud</a></li>
                                    <li><a class="dropdown-item" href="#">Storage</a></li>
                                    <li><a class="dropdown-item" href="#">Dedicated infrastructure</a></li>
                                    <li><a class="dropdown-item" href="#">Bare metal</a></li>
                                </ul>
                            </div>
                        </div>

                 </div>
            </li>

            <li class="nav-item dropdown">
                <a
                    class="nav-link"
                    href="#"
                    id="navbarDropdownMenuLink-3"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                        Pricing
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink-3">

                    <div class="arrow"></div>

                        <div class="row ">
                            <div class="col-sm-12">
                                <ul>
                                    <li><a class="dropdown-item" href="#">Option 1</a></li>
                                    <li><a class="dropdown-item" href="#">Option 2</a></li>
                                    <li><a class="dropdown-item" href="#">Option 3</a></li>
                                </ul>
                            </div>
                        </div>

                 </div>
            </li>
            <li class="nav-item dropdown">
                <a
                    class="nav-link"
                    href="#"
                    id="navbarDropdownMenuLink-4"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                        Resources
                </a>

                <div class="dropdown-menu large-menu" aria-labelledby="navbarDropdownMenuLink-4">

                    <div class="arrow"></div>

                        <div class="row ">
                            <div class="col-sm-3">
                                <h5 class="dropdown-header">Support</h5>
                                <ul>
                                    <li><a class="dropdown-item" href="#">Get support</a></li>
                                    <li><a class="dropdown-item" href="#">SLA</a></li>
                                    <li><a class="dropdown-item" href="#">Certifications</a></li>
                                    <li><a class="dropdown-item" href="#">Status</a></li>
                                    <li><a class="dropdown-item" href="#">Knowledge base</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-3">
                                    <h5 class="dropdown-header">Developers</h5>
                                    <ul>
                                        <li><a class="dropdown-item" href="#">API docs</a></li>
                                        <li><a class="dropdown-item" href="#">Tools</a></li>
                                    </ul>
                            </div>
                            <div class="col-sm-3">
                                    <h5  class="dropdown-header">General</h5>
                                    <ul>
                                        <li><a class="dropdown-item" href="#">About us</a></li>
                                        <li><a class="dropdown-item" href="#">Blog</a></li>
                                        <li><a class="dropdown-item" href="#">Customers</a></li>
                                        <li><a class="dropdown-item" href="#">Partners</a></li>
                                        <li><a class="dropdown-item" href="#">White papers</a></li>
                                        <li><a class="dropdown-item" href="#">Careers</a></li>
                                    </ul>
                            </div>
                            <div class="col-sm-3">
                                    <h5 class="dropdown-header">Sales</h5>
                                    <ul>
                                        <li><a class="dropdown-item" href="#">Contact us</a></li>
                                        <li><a class="dropdown-item" href="#">Request demo or a quote</a></li>
                                        <li><a class="dropdown-item" href="#">Events</a></li>
                                    </ul>
                            </div>
                        </div>
                </div>
            </li>
            <li class="nav-button">
                <button class="btn btn-outline" type="button">Login | Signup</button>
            </li>
        </ul>
    </div>


    <button
        class="navbar-toggler pull-xs-right"
        id="navbarSideButton"
        type="button"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
            <i class="fas fa-bars"></i>
        </span>
    </button>

    <ul class="navbar-side" id="navbarSide">
        <li class="navbar-side-item-list">
            <div class="row" id="navbar-side-items"><!-- menu items row -->
                <a class="close-side-button"><i class="fas fa-times"></i></a>
                <div class="col-sm-12 close-button why-cloudca">
                    <h5>Why cloud.ca</h5>
                    <ul>
                        <li><a href="#">Hyperscale comparison</a></li>
                        <li><a href="#">Use cases</a></li>
                        <li><a href="#">Locations</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 general">
                    <h5>General</h5>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Customers</a></li>
                        <li><a href="#">Partners</a></li>
                        <li><a href="#">White papers</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 sales">
                    <h5>Sales</h5>
                    <ul>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Request demo or a quote</a></li>
                        <li><a href="#">Events</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 support">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">Get support</a></li>
                        <li><a href="#">SLA</a></li>
                        <li><a href="#">Certifications</a></li>
                        <li><a href="#">Status</a></li>
                        <li><a href="#">Knowledge base</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 developers">
                    <h5>Developers</h5>
                    <ul>
                        <li><a href="#">API docs</a></li>
                        <li><a href="#">Tools</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 product">
                    <h5>Product</h5>
                    <ul>
                        <li><a href="#">Multi-tenant cloud</a></li>
                        <li><a href="#">Storage</a></li>
                        <li><a href="#">Dedicated infrastructure</a></li>
                        <li><a href="#">Bare metal</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 pricing">
                    <h5>Pricing</h5>
                    <ul>
                        <li><a href="#">Option 1</a></li>
                        <li><a href="#">Option 2</a></li>
                        <li><a href="#">Option 3</a></li>
                    </ul>
                </div>
            </div><!-- side items row -->
        </li>
    </ul>

    <div class="overlay"></div>
</nav>
