@font-face {
  font-family: 'Proxima-Nova';
  src: local('ProximaNova-Regular'),
       url('ProximaNova-Regular.woff2') format('woff2'),
       url('ProximaNova-Regular.woff') format('woff'),
       url('ProximaNova-Regular.ttf') format('truetype'),
       url('ProximaNova-Regular.svg#ProximaNova-Regular') format('svg'),
       url('ProximaNova-Regular.eot') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}

