@font-face {
  font-family: 'Proxima-Nova';
  src: local('ProximaNova-Bold'),
       url('ProximaNova-Bold.woff2') format('woff2'),
       url('ProximaNova-Bold.woff') format('woff'),
       url('ProximaNova-Bold.ttf') format('truetype'),
       url('ProximaNova-Bold.svg#ProximaNova-Bold') format('svg'),
       url('ProximaNova-Bold.eot') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}

