.pricing {
  .content-main-nav {
    background-color: @global-absolute-white;
    padding: 0;

    a {
      text-transform: uppercase;
      color: @global-official-dark-grey;
      font-size: 13px;
      font-weight: 600;
      padding: 6px 0 10px;
      margin: 0 40px;
      border-top: 4px solid transparent;

      &.active,
      &:hover {
        border-top: 4px solid @global-official-red;
      }
    }
  }

  .content-secondary-nav {
    /* For browsers that do not support gradients */
    background: @global-official-white;

    background: -webkit-linear-gradient( to right, @global-official-white, @global-official-light-grey);
    background: -o-linear-gradient(to right, @global-official-white, @global-official-light-grey);
    background: -moz-linear-gradient(to right, @global-official-white, @global-official-light-grey);
    background: linear-gradient(to right, @global-official-white, @global-official-light-grey);

    padding: 0 0 0 330px;

    .navbar-nav .nav-item .nav-link {
      text-transform: uppercase;
      color: @global-official-dark-grey;
      font-size: 13px;
      font-weight: 600;
      padding: 10px 10px;
    }

    a.active,
    a:hover {
      background-color: @global-absolute-white;
    }
  }

  .content-card {
    padding: 120px 0;

    h1 {
      text-transform: uppercase;
      color: @global-official-dark-grey;
      font-size: 13px;
      font-weight: 600;
    }

    h2 {
      color: @global-official-red;
      padding: 30px 15px 0 5px;
    }

    p {
      font-size: 17px;
      color: @global-official-dark-grey;
      padding: 10px 20px 0 15px;
    }

    .next-button a {
      font-size: 17px;
      font-weight: bold;
      color: @global-official-red;
      padding: 0 0 0 15px;
    }
    .special-offer {
      background-color: @global-official-red;
      font-size: 13px;
      color: @global-absolute-white;
      text-transform: uppercase;
      padding: 10px 15px;
      margin: 7px 7px;
    }
  }

  .services-card {
    /* For browsers that do not support gradients */
    background: @global-official-red;

    background: -webkit-linear-gradient(@global-official-red, @global-official-blue);
    background: -o-linear-gradient(@global-official-red, @global-official-blue);
    background: -moz-linear-gradient(@global-official-red, @global-official-blue);
    background: linear-gradient(@global-official-red, @global-official-blue);

    color: @global-absolute-white;
    padding-bottom: 200px;


    h3 {
      font-weight: lighter;
      margin: 80px 0 0 0;
    }
    a {
      color: #fff;
      text-decoration: underline;
    }

    /* COmpute */
    .compute-price-row {
      margin-top: 20px;
      padding-left: 30px;

      .compute-price-col {
        border-right: 1px solid #fff;

        &:last-child {
          border-right: none;
        }

        .compute-price-p {
          padding-top: 20px;
          margin-bottom: 5px;
        }

        .dollar-sign {
          font-size: 36px;
          font-weight: lighter;
          line-height: 0;
          position: relative;
          vertical-align: baseline;
          top: -10px;
        }
        .cost-amount {
          font-size: 60px;
          font-weight: lighter;
          line-height: 0;
        }
        .monthly-word {
          font-size: 12px;
          font-weight: lighter;
          line-height: 0
        }
        .vcpu-gb {
          padding-left: 30px;
          font-size: 14px;
          line-height: 0;
          position :relative;
          top: 10px;
        }
      }
    }
    .other-compute {
      font-size: 12px;
      margin-top: 20px;
      text-align: right;
    }



    /* Storage */
    .storage {
      h6 {
        text-transform: uppercase;
        font-size: 15px;
        margin: 20px 0 20px 20px;
      }
      .block-storage {
        border-right: 1px solid #fff;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        margin-left: 5px;
      }
      .storage-3 {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        margin-right: 215px;
      }
      .dollar-sign-storage {
        font-size: 18px;
        font-weight: lighter;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
        top: -10px;
      }
      .cost-storage {
        font-size: 28px;
        font-weight: lighter;
        line-height: 0;
      }
      .IOPS-GB {
        font-size: 14px;
        padding-left: 17px;
        margin-bottom: 25px;
      }
      .storage-amount {
        margin: 35px auto 0;
      }
      .with-right-border {
        border-right: 1px solid #fff;
        padding-right: 0;
      }
      .storage-option {
        padding-right: 0;
      }
      .storage-3-option {
        padding-bottom: 46px;
      }
      .additional-performance {
        font-size: 12px;
        margin-top: 20px;
        padding: 0;
      }
    }

    /* Networking */
    .networking {
      h3 {
        padding-bottom: 30px;
      }
      .table td {
        border-top: none;
        padding: 18px;
        color: #fff;
        font-size: 18px;
      }
      .table-striped tbody tr:nth-of-type(2n+1) {
        background-color: rgba(249, 249, 249, 0.1);
      }
    }

    /* License */
    .licenses-term-discounts {
      h3 {
        padding-bottom: 10px;
      }
      p {
        padding-left: 15px;
        font-size: 18px;
      }
      .license-mobility p {
        font-size: 12px;
        text-align: right;
      }
      .buttons-row {
        padding-left: 8px;
      }
      .special-offers-services {
        background-color: #fff;
        padding: 10px 15px;
        margin: 7px 7px;
      }
      a.btn.special-offers-services {
        font-size: 13px;
        color: #f16529;
        text-decoration: none;
        text-transform: uppercase;
      }
    }

    /* Contact Form */
    .contact-form {
      h5 {
        font-size: 28px;
        font-weight: lighter;
        padding: 80px 0 20px;
      }
      .form-control {
        border: none;
        border-radius: 0;
        background-color: rgba(249, 249, 249, 0.1);
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
        padding: 20px;
        line-height: 18px;
        height: 62px;
      }
      textarea#Form-Requirements.form-control {
        height: 200px;
      }
      .form-group {
        margin-bottom: 8px;
      }
      .small-box-col-1 {
        padding-right: 4px;
      }
      .small-box-col-2 {
        padding-left: 4px;
      }
      .form-control::placeholder {
        color: rgba(249, 249, 249, 0.6);
      }
      select#Form-Origin-Country {
        color: rgba(249, 249, 249, 0.6);
        font-size: 18px;
        line-height: 18px;
        height: 62px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url('../images/down-arrow.png');
        background-repeat: no-repeat;
        background-position: center right 10px;
      }
      select#Form-Origin-Country::-ms-expand {
        display: none;
      }
      select#Form-Origin-Country:focus {
        background-color: rgba(249, 249, 249, 0.1);
        color: #fff;
      }
      select#Form-Origin-Country option {
        color: #000;
      }
      .form-control:focus {
        background-color: rgba(249, 249, 249, 0.1);
        color: #fff;
      }
    }

    /* Services */
    .services-list h3 {
      margin-top: 60px;
    }
    .services-list img {
      margin-top: 60px;
      resize: 120%;
    }
    .services-list p {
      font-size: 18px;
      margin: 10px 0 0 20px;
    }
  }
}
