<div class="content-card card-section">
  <div class="container-fluid">
    <div class="row">
       <div class="col-lg-2 offset-lg-1 col-sm-12 compute">
         <h3>Compute</h3>
          <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
            <label class="onoffswitch-label" for="myonoffswitch">
               <span class="onoffswitch-inner"></span>
               <span class="onoffswitch-switch"></span>
             </label>
            </div> 
         </div>

       <div class="col-lg-11 offset-lg-1 col-sm-12 compute-price-row with-line">
         <div class="row">

           <div class="col-lg-2 col-sm-12 compute-price-col">
             <p class="compute-price-p">
               <span class="whitespace-group">
                   <span class="dollar-sign">$</span>
                   <span class="cost-amount">108</span>
               </span>
               <span class="monthly-word"> Monthly</span>
             </p>
             <p class="plan-specs">2 VCPU/8 GB RAM</p>
           </div>

           <div class="col-lg-2 col-sm-12 compute-price-col">
             <p class="compute-price-p">
               <span class="whitespace-group">
                 <span class="dollar-sign">$</span>
                 <span class="cost-amount">144</span>
               </span>
               <span class="monthly-word"> Monthly</span>
             </p>
             <p class="plan-specs">4 VCPU/8 GB RAM</p>
           </div>

           <div class="col-lg-2 col-sm-12 compute-price-col with-line">
             <p class="compute-price-p">
               <span class="whitespace-group">
                 <span class="dollar-sign">$</span>
                 <span class="cost-amount">216</span>
               </span>
               <span class="monthly-word"> Monthly</span>
             </p>
             <p class="plan-specs">4 VCPU/16 GB RAM</p>
           </div>

           <div class="col-lg-2 col-sm-12 compute-price-col with-line">
             <p class="compute-price-p">
               <span class="whitespace-group">
                 <span class="dollar-sign">$</span>
                 <span class="cost-amount">360</span>
               </span>
               <span class="monthly-word"> Monthly</span>
             </p>
             <p class="plan-specs">4 VCPU/32 GB RAM</p>
           </div>

           <div class="col-lg-2 col-sm-12 compute-price-col">
             <p class="compute-price-p">
               <span class="whitespace-group">
                 <span class="dollar-sign">$</span>
                 <span class="cost-amount">684</span>
               </span>
               <span class="monthly-word"> Monthly</span>
             </p>
             <p class="plan-specs">8 VCPU/60GB RAM</p>
           </div>

         </div>
       </div>
       <div class="col-lg-4 offset-lg-7 col-sm-12 other-compute with-line">
         <p>
           Other compute offerings are available.
           <a href="#">Contact us</a>
           for details.
         </p>
       </div>
     </div>

     <div class="row storage">
       <div class="col-lg-11 offset-lg-1 col-sm-12">
         <h3>Storage</h3>
       </div>

       <div class="col-lg-10 offset-lg-1 col-sm-12">
         <h6>high performance block storage with QoS - highly available SSD</h6>
         <div class="row block-storage">
           <div class="col-lg-4 col-sm-12 storage-option">
             <p class="storage-amount">
               <span class="dollar-sign-storage">$</span>
               <span class="cost-storage">0.25 CAD/GB</span>
               <span class="monthly-word"> Monthly</span>
             </p>
             <p class="IOPS-GB">1000 IOPS*</p>
           </div>
           <div class="col-lg-4 col-sm-12 storage-option">
             <p class="storage-amount">
               <span class="dollar-sign-storage">$</span>
               <span class="cost-storage">0.50 CAD/GB</span>
               <span class="monthly-word"> Monthly</span>
             </p>
             <p class="IOPS-GB">5000 IOPS*</p>
           </div>
           <div class="col-lg-4 col-sm-12 storage-option">
             <p class="storage-amount">
               <span class="dollar-sign-storage">$</span>
               <span class="cost-storage">0.75 CAD/GB</span>
               <span class="monthly-word"> Monthly</span>
             </p>
             <p class="IOPS-GB">10000 IOPS*</p>
           </div>
         </div>
       </div>

       <div class="col-lg-3 offset-lg-1 col-sm-12">
         <h6>PERFORMANCE BLOCK STORAGE - HYBRID SSD</h6>
         <div class="row block-storage storage-3">
           <div class="col-lg-12 col-sm-12 storage-option">
             <p class="storage-amount object-storage">
               <span class="dollar-sign-storage">$</span>
               <span class="cost-storage">0.12 CAD/GB</span>
               <span class="monthly-word"> Monthly</span>
             </p>
           </div>
         </div>
       </div>

          <div class="col-lg-3 col-sm-12 storage-4">
          <h6>OBJECT STORAGE — Single Region</h6>
            <div class="row block-storage storage-3">
              <div class="col-lg-12 col-sm-12 storage-option">
                <p class="storage-amount object-storage">
                  <span class="dollar-sign-storage">$</span>
                  <span class="cost-storage">0.05 CAD/GB</span>
                  <span class="monthly-word"> Monthly</span>
                </p>
              </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-12 storage-4">
            <h6>OBJECT STORAGE — Multi-region</h6>
              <div class="row block-storage storage-3">
                <div class="col-lg-12 col-sm-12 storage-option">
                  <p class="storage-amount object-storage">
                    <span class="dollar-sign-storage">$</span>
                    <span class="cost-storage">0.07 CAD/GB</span>
                    <span class="monthly-word"> Monthly</span>
                  </p>
                </div>
              </div>
          </div>

       <div class="col-lg-4 offset-lg-7 col-sm-12 additional-performance">
         <p>*Minimum guaranteed IOPS. Additional performance tiers available,
           <a href="#">contact us</a> for details.</p>
       </div>
     </div>
     <div class="row">
      <div class="col-lg-5 offset-lg-1 col-sm-12 networking">
        <h3>Networking</h3>
  
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>PUBLIC IPS</td>
              <td>$5.00 CAD Monthly</td>
            </tr>
            <tr>
              <td>INTERNAL DATA TRANSFER</td>
              <td>Included</td>
            </tr>
            <tr>
              <td>INBOUND DATA TRANSFER</td>
              <td>Included</td>
            </tr>
            <tr>
              <td>OUTBOUND DATA TRANSFER</td>
              <td>$0.10 CAD/GB</td>
            </tr>
            <tr>
              <td>INTER-REGION DATA TRANSFER</td>
              <td>$0.02 CAD/GB</td>
            </tr>
            <tr>
              <td>DIRECT CONNECT DATA TRANSFER</td>
              <td>$0.02 CAD/GB</td>
            </tr>
            <tr>
              <td>MULTI-TIER VPC</td>
              <td>Included</td>
            </tr>
            <tr>
              <td>LOAD BALANCING (BASIC)</td>
              <td>Included</td>
            </tr>
            <tr>
              <td>LOAD BALANCING (ENTERPRISE)</td>
              <td>Contact us for details</td>
            </tr>
            <tr>
              <td>FIREWALL (ENTERPRISE)</td>
              <td>Contact us for details</td>
            </tr>
          </tbody>
        </table>
  
      </div>
  
      <div class="col-lg-4 offset-lg-1 col-sm-12 licenses-term-discounts">
        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <h3> Licenses</h3>
            <p>– Bring your own OS* and software licenses.</p>
            <p>– Certain licences available through Microsoft SPLA partner program.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-11 offset-lg-1 col-sm-11 offset-sm-1 license-mobility">
            <p>*Microsoft clients who meet the criteria are eligible for License Mobility through Microsoft Software Assurance.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <h3> Term discounts</h3>
            <p>10-30% discount on committed compute capacity for 1, 2, or 3 year term. Contact us for details.</p>
          </div>
        </div>
      </div>
    </div>




  </div>
</div>
