<div class="content-card card-section">
  <div class="container-fluid">
    <div class="row">
       <div class="col-lg-11 offset-lg-1 col-sm-12 compute">
         <h3>Compute</h3>
       </div>
       <div class="col-lg-11 offset-lg-1 col-sm-12 compute-price-row with-line">
         <div class="row">

           <div class="col-lg-2 col-sm-12 compute-price-col">
             <p class="compute-price-p">
               <span class="whitespace-group">
                   <span class="dollar-sign">$</span>
                   <span class="cost-amount">108</span>
               </span>
               <span class="monthly-word"> Monthly</span>
             </p>
             <p class="plan-specs">2 VCPU/8 GB RAM</p>
           </div>

           <div class="col-lg-2 col-sm-12 compute-price-col">
             <p class="compute-price-p">
               <span class="whitespace-group">
                 <span class="dollar-sign">$</span>
                 <span class="cost-amount">144</span>
               </span>
               <span class="monthly-word"> Monthly</span>
             </p>
             <p class="plan-specs">2 VCPU/8 GB RAM</p>
           </div>

           <div class="col-lg-2 col-sm-12 compute-price-col with-line">
             <p class="compute-price-p">
               <span class="whitespace-group">
                 <span class="dollar-sign">$</span>
                 <span class="cost-amount">216</span>
               </span>
               <span class="monthly-word"> Monthly</span>
             </p>
             <p class="plan-specs">4 VCPU/16 GB RAM</p>
           </div>

           <div class="col-lg-2 col-sm-12 compute-price-col with-line">
             <p class="compute-price-p">
               <span class="whitespace-group">
                 <span class="dollar-sign">$</span>
                 <span class="cost-amount">360</span>
               </span>
               <span class="monthly-word"> Monthly</span>
             </p>
             <p class="plan-specs">4 VCPU/32 GB RAM</p>
           </div>

           <div class="col-lg-2 col-sm-12 compute-price-col">
             <p class="compute-price-p">
               <span class="whitespace-group">
                 <span class="dollar-sign">$</span>
                 <span class="cost-amount">684</span>
               </span>
               <span class="monthly-word"> Monthly</span>
             </p>
             <p class="plan-specs">8 VCPU/60GB RAM</p>
           </div>

         </div>
       </div>
       <div class="col-lg-4 offset-lg-7 col-sm-12 other-compute with-line">
         <p>
           Other compute offerings are available.
           <a href="#">Contact us</a>
           for details.
         </p>
       </div>
     </div>

     <div class="row storage">
       <div class="col-lg-11 offset-lg-1 col-sm-12">
         <h3>Storage</h3>
       </div>

       <div class="col-lg-7 offset-lg-1 col-sm-12">
         <h6>high performance block storage-highly available SSD</h6>
         <div class="row block-storage">
           <div class="col-lg-4 col-sm-12 storage-option">
             <p class="storage-amount">
               <span class="dollar-sign-storage">$</span>
               <span class="cost-storage">0.25 CAD/GB</span>
               <span class="monthly-word"> Monthly</span>
             </p>
             <p class="IOPS-GB">1 IOPS/GB*</p>
           </div>
           <div class="col-lg-4 col-sm-12 storage-option">
             <p class="storage-amount">
               <span class="dollar-sign-storage">$</span>
               <span class="cost-storage">0.50 CAD/GB</span>
               <span class="monthly-word"> Monthly</span>
             </p>
             <p class="IOPS-GB">5 IOPS/GB*</p>
           </div>
           <div class="col-lg-4 col-sm-12 storage-option">
             <p class="storage-amount">
               <span class="dollar-sign-storage">$</span>
               <span class="cost-storage">0.75 CAD/GB</span>
               <span class="monthly-word"> Monthly</span>
             </p>
             <p class="IOPS-GB">10 IOPS/GB*</p>
           </div>
         </div>
       </div>

       <div class="col-lg-4 offset-lg-1 col-sm-12">
         <h6>OBJECT STORAGE — </h6>
         <div class="row block-storage storage-3">
           <div class="col-lg-12 col-sm-12 storage-option">
             <p class="storage-amount">
               <span class="dollar-sign-storage">$</span>
               <span class="cost-storage">0.05 CAD/GB</span>
               <span class="monthly-word"> Monthly</span>
             </p>
           </div>
         </div>
       </div>
           <div class="col-lg-4 col-sm-12">
             <h6>OBJECT STORAGE — 4 REPLICAS (across multiple regions)</h6>
             <div class="row block-storage storage-3">
           <div class="col-lg-12 col-sm-12 storage-option">
             <p class="storage-amount">
               <span class="dollar-sign-storage">$</span>
               <span class="cost-storage">0.07 CAD/GB</span>
               <span class="monthly-word"> Monthly</span>
             </p>
           </div>
         </div>
       </div>

       <div class="col-lg-4 offset-lg-7 col-sm-12 additional-performance">
         <p>*Minimum guaranteed IOPS. Additional performance tiers available,
           <a href="#">contact us</a> for details.</p>
       </div>
     </div>
  </div>
</div>
