<nav class="navbar navbar-expand-sm content-secondary-nav justify-content-center">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Option 1 <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Option 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Option 3</a>
      </li>
    </ul>
</nav>

<div class="content-card card-section">
  <div class="container-fluid">
    <div class="row">
       <div class="col-lg-11 offset-lg-1 col-sm-12 compute">
         <h3>Compute</h3>
       </div>
       <div class="col-lg-11 offset-lg-1 col-sm-12 compute-price-row with-line">
         <div class="row">

           <div class="col-lg-2 col-sm-12 compute-price-col">
             <p class="compute-price-p">
               <span class="whitespace-group">
                   <span class="dollar-sign">$</span>
                   <span class="cost-amount">108</span>
               </span>
               <span class="monthly-word"> Monthly</span>
             </p>
             <p class="plan-specs">2 VCPU/8 GB RAM</p>
           </div>

           <div class="col-lg-2 col-sm-12 compute-price-col">
             <p class="compute-price-p">
               <span class="whitespace-group">
                 <span class="dollar-sign">$</span>
                 <span class="cost-amount">144</span>
               </span>
               <span class="monthly-word"> Monthly</span>
             </p>
             <p class="plan-specs">2 VCPU/8 GB RAM</p>
           </div>

           <div class="col-lg-2 col-sm-12 compute-price-col with-line">
             <p class="compute-price-p">
               <span class="whitespace-group">
                 <span class="dollar-sign">$</span>
                 <span class="cost-amount">216</span>
               </span>
               <span class="monthly-word"> Monthly</span>
             </p>
             <p class="plan-specs">4 VCPU/16 GB RAM</p>
           </div>

           <div class="col-lg-2 col-sm-12 compute-price-col with-line">
             <p class="compute-price-p">
               <span class="whitespace-group">
                 <span class="dollar-sign">$</span>
                 <span class="cost-amount">360</span>
               </span>
               <span class="monthly-word"> Monthly</span>
             </p>
             <p class="plan-specs">32 VCPU/4 GB RAM</p>
           </div>

           <div class="col-lg-2 col-sm-12 compute-price-col">
             <p class="compute-price-p">
               <span class="whitespace-group">
                 <span class="dollar-sign">$</span>
                 <span class="cost-amount">684</span>
               </span>
               <span class="monthly-word"> Monthly</span>
             </p>
             <p class="plan-specs">8 VCPU/60GB RAM</p>
           </div>

         </div>
       </div>
       <div class="col-lg-4 offset-lg-7 col-sm-12 other-compute with-line">
         <p>
           Other compute offerings are available.
           <a href="#">Contact us</a>
           for details.
         </p>
       </div>
     </div>

     <div class="row storage">
       <div class="col-lg-11 offset-lg-1 col-sm-12">
         <h3>Storage</h3>
       </div>

       <div class="col-lg-7 offset-lg-1 col-sm-12">
         <h6>high performance block storage-highly available SSD</h6>
         <div class="row block-storage">
           <div class="col-lg-4 col-sm-12 storage-option">
             <p class="storage-amount">
               <span class="dollar-sign-storage">$</span>
               <span class="cost-storage">0.25 CAD/GB</span>
               <span class="monthly-word"> Monthly</span>
             </p>
             <p class="IOPS-GB">1 IOPS/GB*</p>
           </div>
           <div class="col-lg-4 col-sm-12 storage-option">
             <p class="storage-amount">
               <span class="dollar-sign-storage">$</span>
               <span class="cost-storage">0.50 CAD/GB</span>
               <span class="monthly-word"> Monthly</span>
             </p>
             <p class="IOPS-GB">5 IOPS/GB*</p>
           </div>
           <div class="col-lg-4 col-sm-12 storage-option">
             <p class="storage-amount">
               <span class="dollar-sign-storage">$</span>
               <span class="cost-storage">0.75 CAD/GB</span>
               <span class="monthly-word"> Monthly</span>
             </p>
             <p class="IOPS-GB">10 IOPS/GB*</p>
           </div>
         </div>
       </div>

       <div class="col-lg-3 col-sm-12 col-storage-3">
         <h6>object storage—3 replicas</h6>
         <div class="row storage-3">
           <div class="col-lg-12 col-sm-12 storage-option storage-3-option">
             <p class="storage-amount">
               <span class="dollar-sign-storage">$</span>
               <span class="cost-storage">0.05 CAD/GB</span>
               <span class="monthly-word"> Monthly</span>
             </p>
           </div>
         </div>
       </div>

       <div class="col-lg-4 offset-lg-7 col-sm-12 additional-performance">
         <p>*Minimum guaranteed IOPS. Additional performance tiers available,
           <a href="#">contact us</a> for details.</p>
       </div>
     </div>
  </div>
</div>
