<div class="services-card pricing">
 <div class="row">
    <div class="col-lg-11 offset-lg-1 col-sm-12">
      <h3>Compute</h3>
    </div>
    <div class="col-lg-11 offset-lg-1 col-sm-12 compute-price-row">
      <div class="row">
        <div class="col-lg-2 col-sm-12 compute-price-col">
          <p class="compute-price-p">
            <span class="dollar-sign">$</span>
            <span class="cost-amount">108</span>
            <span class="monthly-word"> Monthly</span>
          </p>
          <p class="vcpu-gb">2 VCPU / 8 GB RAM</p>
        </div>
        <div class="col-lg-2 col-sm-12 compute-price-col">
          <p class="compute-price-p">
            <span class="dollar-sign">$</span>
            <span class="cost-amount">144</span>
            <span class="monthly-word"> Monthly</span>
          </p>
          <p class="vcpu-gb">2 VCPU / 8 GB RAM</p>
        </div>
        <div class="col-lg-2 col-sm-12 ce-col compute-price-col">
          <p class="compute-price-p">
            <span class="dollar-sign">$</span>
            <span class="cost-amount">216</span>
            <span class="monthly-word"> Monthly</span>
          </p>
          <p class="vcpu-gb">4 VCPU / 16 GB RAM</p>
        </div>
        <div class="col-lg-2 col-sm-12 compute-price-col">
          <p class="compute-price-p">
            <span class="dollar-sign">$</span>
            <span class="cost-amount">360</span>
            <span class="monthly-word"> Monthly</span>
          </p>
          <p class="vcpu-gb">32 VCPU / 4 GB RAM</p>
        </div>
        <div class="col-lg-2 col-sm-12 compute-price-col">
          <p class="compute-price-p">
            <span class="dollar-sign">$</span>
            <span class="cost-amount">684</span>
            <span class="monthly-word"> Monthly</span>
          </p>
          <p class="vcpu-gb">8 VCPU / 60GB RAM</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 offset-lg-7 col-sm-12 other-compute">
      <p>
        Other compute offerings are available.
        <a href="#">Contact us</a>
        for details.
      </p>
    </div>
  </div>

  <div class="row storage">
    <div class="col-lg-11 offset-lg-1 col-sm-12">
      <h3>Storage</h3>
    </div>
    <div class="col-lg-7 offset-lg-1 col-sm-12">
      <h6>high performance block storage-highly available SSD</h6>
      <div class="row block-storage">
        <div class="col-lg-4 col-sm-12 storage-option">
          <p class="storage-amount with-right-border">
            <span class="dollar-sign-storage">$</span>
            <span class="cost-storage">0.25 CAD / GB</span>
            <span class="monthly-word"> Monthly</span>
          </p>
          <p class="IOPS-GB with-right-border">1 IOPS/GB*</p>
        </div>
        <div class="col-lg-4 col-sm-12 storage-option">
          <p class="storage-amount with-right-border">
            <span class="dollar-sign-storage">$</span>
            <span class="cost-storage">0.50 CAD / GB</span>
            <span class="monthly-word"> Monthly</span>
          </p>
          <p class="IOPS-GB with-right-border">5 IOPS/GB*</p>
        </div>
        <div class="col-lg-4 col-sm-12 storage-option">
          <p class="storage-amount">
            <span class="dollar-sign-storage">$</span>
            <span class="cost-storage">0.75 CAD / GB</span>
            <span class="monthly-word"> Monthly</span>
          </p>
          <p class="IOPS-GB">10 IOPS/GB*</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12">
      <h6>object storage—3 replicas</h6>
      <div class="row storage-3">
        <div class="col-lg-12 col-sm-12 storage-option storage-3-option">
          <p class="storage-amount">
            <span class="dollar-sign-storage">$</span>
            <span class="cost-storage">0.05 CAD / GB</span>
            <span class="monthly-word"> Monthly</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 offset-lg-7 col-sm-12 additional-performance">
      <p>*Minimum guaranteed IOPS. Additional performance tiers available,
        <a href="#">contact us</a> for details.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-5 offset-lg-1 col-sm-12 networking">
      <h3>Networing</h3>

      <table class="table table-striped">
        <tbody>
          <tr>
            <td>PUBLIC IPS</td>
            <td>$0.50 CAD / GBMonthly</td>
          </tr>
          <tr>
            <td>INTERNAL DATA TRANSFER</td>
            <td>Included</td>
          </tr>
          <tr>
            <td>INBOUND DATA TRANSFER</td>
            <td>Included</td>
          </tr>
          <tr>
            <td>OUTBOUND DATA TRANSFER</td>
            <td>$0.10 CAD / GB</td>
          </tr>
          <tr>
            <td>INTER-REGION DATA TRANSFER</td>
            <td>$0.02 CAD / GB</td>
          </tr>
          <tr>
            <td>DIRECT CONNECT DATA TRANSFER</td>
            <td>$0.02 CAD / GB</td>
          </tr>
          <tr>
            <td>MULTI-TIER VPC</td>
            <td>Included</td>
          </tr>
          <tr>
            <td>LOAD BALANCING (BASIC)</td>
            <td>Included</td>
          </tr>
          <tr>
            <td>LOAD BALANCING (ENTERPRISE)</td>
            <td>Contact us for details</td>
          </tr>
          <tr>
            <td>FIREWALL (ENTERPRISE)</td>
            <td>Contact us for details</td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="col-lg-4 offset-lg-1 col-sm-12 licenses-term-discounts">
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <h3> Licenses</h3>
          <p>– Bring your own OS* and software licenses.</p>
          <p>– Certain licences available through Microsoft SPLA partner program.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-11 offset-lg-1 col-sm-11 offset-sm-11 license-mobility">
          <p>*Microsoft clients who meet the criteria are eligible for License Mobility through Microsoft Software Assurance.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <h3> Term discounts</h3>
          <p>10-30% discount on committed compute capacity for 1, 2, or 3 year term. Contact us for details.</p>
        </div>
      </div>
      <div class="row buttons-row">
        <div class="col-lg-4 col-sm-3">
          <a class="btn special-offers-services" href="#" role="button">Special offers</a>
        </div>
        <div class="col-lg-4 col-sm-3">
          <a class="btn special-offers-services" href="#" role="button">Special offers</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 offset-lg-1 col-sm-12 contact-form">
    <h5> Call us at 1-888-796-8364 to speak to a specialist today or fill out the form below: </h5>
  </div>

  <div class="container-fluid contact-form">
    <form>
      <div class="row">
        <div class="col-lg-3 offset-lg-1 col-sm-12 small-box-col-1">
          <div class="form-group">
            <input type="text" class="form-control form-control-lg" id="Form-First-Name" placeholder="First name">
          </div>
        </div>
        <div class="col-lg-3 col-sm-12 small-box-col-2">
          <div class="form-group">
            <input type="text" class="form-control form-control-lg" id="Form-Last-Name" placeholder="Last Name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 offset-lg-1 col-sm-12 small-box-col-1">
          <div class="form-group">
            <input type="text" class="form-control form-control-lg" id="Form-Company-Name" placeholder="Company Name">
          </div>
        </div>
        <div class="col-lg-3 col-sm-12 small-box-col-2">
          <div class="form-group">
            <select class="form-control form-control-lg" id="Form-Origin-Country">
              <option>Country &#40;please select&#41;</option>
              <option class="country">Canada</option>
              <option class="country">USA</option>
              <option class="country">China</option>
              <option class="country">Germany</option>
              <option class="country">Mexico</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 offset-lg-1 col-sm-12">
          <div class="form-group">
            <input type="tel" class="form-control form-control-lg" id="Form-Phone-Number" placeholder="Phone Number">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 offset-lg-1 col-sm-12">
          <div class="form-group">
            <input type="email" class="form-control form-control-lg" id="Form-Email" placeholder="E-mail">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 offset-lg-1 col-sm-12">
          <div class="form-group">
            <textarea class="form-control form-control-lg" id="Form-Requirements" rows="3" placeholder="What are your requirements or specific questions?"></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="container-fluid services-list">
    <div class="row">
      <div class="col-lg-1 offset-lg-1 col-sm-12">
        <img class="img" src="{{ "images/multi-tiered-networking-white.png" | absURL }}">
      </div>
      <div class="col-lg-4 col-sm-12">
        <h3>Service</h3>
        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat
          nulla facilisis at vero eros et accumsan et iusto odio dignissim qui</p>
      </div>
      <div class="col-lg-1 col-sm-12">
        <img class="img" src="{{ "images/performant-multi-tenant-storage-white.png" | absURL }}">
      </div>
      <div class="col-lg-4 col-sm-12">
        <h3>Service</h3>
        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat
          nulla facilisis at vero eros et accumsan et iusto odio dignissim qui</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-1 offset-lg-1 col-sm-12">
        <img class="img" src="{{ "images/bare-metal-servers-white.png" | absURL }}">
      </div>
      <div class="col-lg-4 col-sm-12">
        <h3>Service</h3>
        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat
          nulla facilisis at vero eros et accumsan et iusto odio dignissim qui</p>
      </div>
      <div class="col-lg-1 col-sm-12">
        <img class="img" src="{{ "images/dedicated-infrastructure-white.png" | absURL }}">
      </div>
      <div class="col-lg-4 col-sm-12">
        <h3>Service</h3>
        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat
          nulla facilisis at vero eros et accumsan et iusto odio dignissim qui</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-1 offset-lg-1 col-sm-12">
        <img class="img" src="{{ "images/elastic-compute-white.png" | absURL }}">
      </div>
      <div class="col-lg-4 col-sm-12">
        <h3>Service</h3>
        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat
          nulla facilisis at vero eros et accumsan et iusto odio dignissim qui</p>
      </div>
      <div class="col-lg-1 col-sm-12">
        <img class="img" src="{{ "images/integrated-devops-tooling-white.png" | absURL }}">
      </div>
      <div class="col-lg-4 col-sm-12">
        <h3>Service</h3>
        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat
          nulla facilisis at vero eros et accumsan et iusto odio dignissim qui</p>
      </div>
    </div>
  </div>
</div>
