<div class="services-card pricing">
  <div class="col-lg-6 offset-lg-3 col-sm-12 contact-form">
    <h5> Call us at 1-888-796-8364 to speak to a specialist today or fill out the form below: </h5>
  </div>

  <div class="container-fluid contact-form">
    <form>
      <div class="row">
        <div class="col-lg-3 offset-lg-3 col-sm-12 small-box-col-1">
          <div class="form-group">
            <input type="text" class="form-control form-control-lg" id="Form-First-Name" placeholder="First name">
          </div>
        </div>
        <div class="col-lg-3 col-sm-12 small-box-col-2">
          <div class="form-group">
            <input type="text" class="form-control form-control-lg" id="Form-Last-Name" placeholder="Last Name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 offset-lg-3 col-sm-12 small-box-col-1">
          <div class="form-group">
            <input type="text" class="form-control form-control-lg" id="Form-Company-Name" placeholder="Company Name">
          </div>
        </div>
        <div class="col-lg-3 col-sm-12 small-box-col-2">
          <div class="form-group">
            <select class="form-control form-control-lg" id="Form-Origin-Country">
              <option>Country &#40;please select&#41;</option>
              <option class="country">Canada</option>
              <option class="country">USA</option>
              <option class="country">China</option>
              <option class="country">Germany</option>
              <option class="country">Mexico</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 offset-lg-3 col-sm-12">
          <div class="form-group">
            <input type="tel" class="form-control form-control-lg" id="Form-Phone-Number" placeholder="Phone Number">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 offset-lg-3 col-sm-12">
          <div class="form-group">
            <input type="email" class="form-control form-control-lg" id="Form-Email" placeholder="E-mail">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 offset-lg-3 col-sm-12">
          <div class="form-group">
            <textarea class="form-control form-control-lg" id="Form-Requirements" rows="3" placeholder="What are your requirements or specific questions?"></textarea>
          </div>
        </div>
      </div>
    </form>
    <div class="col-lg-6 offset-lg-3 col-sm-12 submit-button">
      <a class="btn special-offers-services" href="#" role="button">
        Submit
      </a>
    </div>
  </div>
</div>
