<div class="first-card card-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 card-title">
                <h3>Canadian Cloud Services</h3>
                <h4 class="with-line">For companies that care where their data lives</h4>
            </div>
        </div>
        <div class="row complex-clouds">
            <div class="col-lg-4 offset-lg-2 col-sm-8">
                <h2>Clouds are complex...</h2>
            </div>
            <div class="col-lg-4 offset-lg-1 col-sm-4 img-triangle">
                <img src="{{ "images/triangle-blue-card.png" | absURL }}">
            </div>
        </div>
    </div>
</div>
