<div class="second-card card-section fixed">
    <div class="container-fluid">

        <div class="row title-row-secondcard">
            <div class="col-lg-4 offset-lg-2 col-sm-8 but-they-dont-have-to-be">
                <h2>but they don't have to be</h2>
            </div>
            <div class="col-lg-4 offset-lg-1 col-sm-4">
                <img class="img-cube-desktop" src="{{ "images/cube.png" | absURL }}">
                <img class="img-cube-mobile" src="{{ "images/cube-gradient.png" | absURL }}">
            </div>
        </div>

        <div class="row text-row-secondcard">
            <div class="col-md-4 offset-md-1 col-sm-12">
                <h4>Our Infrastructure as a Service (laaS) is purpose built for:</h4>
                <ul>
                    <li class="important-item">- Data Sovereignty</li>
                    <li>- Performance &amp; Security</li>
                    <li>- Simplified Self-service</li>
                    <li>- Cloud automation</li>
                </ul>
            </div>

            <div class="col-md-4 offset-md-1 col-sm-12">
                <h4>Cloud.ca is not a hyperscale cloud, here is how we are different:</h4>
                <p>A Canadian-owned provider with a vested interest in your data security. Consume cloud your way: flexible offerings and pricing structures. Easy access to a team that supports your business success and unique needs.</p>
                <div class="learn-more-second-card">
                    <a href="#">Learn more</a>
                </div>
            </div>
        </div>

    </div>
</div>
