<div class="intro-wrapper-home">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 card-title">
        <h1>Canadian Cloud Services</h1>
        <h2 class="with-line">For companies that care where their data lives</h2>
      </div>
    </div>

    <div class="row different">
      <div class="col-sm-12">
        <h3>
          cloud.ca is not a hyperscale cloud.<br />
          Here is how we are different:
        </h3>

        <div class="row">
          <div class="col-lg-2 offset-lg-2 col-sm-12">
            <img class="img canadian-owned" src="{{ "images/canadian-owned.png" | absURL }}">
            <p>Canadian-owned with a vested interest in your data security</p>
          </div>

          <div class="col-lg-2 offset-lg-1 col-sm-12">
            <img class="img-fluid easy-access" src="{{ "images/easy-access.png" | absURL }}">
            <p>Easy access to a team that supports your business success and unique needs</p>
          </div>

          <div class="col-lg-2 offset-lg-1 col-sm-12">
            <img class="img-fluid flexible-offerings" src="{{ "images/flexible-offerings.png" | absURL }}">
            <p>Flexible offerings and pricing stuctures</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
