/*
color scheme:
    #ec1c23 as Red
    #1d2671 as Blue
    #f16529 as Orange
    #f5f7f1 as White
    #ccc as Light grey
    #6d6e71 as Dark grey

font-familiy:
    proxima nova

font-weights:
    Light
    Normal
    Semibold: 600
    Bold
*/


/* GENERAL */
body {
    font-family: "Proxima-Nova", sans-serif;
    overflow-x: hidden;
}

/* TODO: Define h1 default size  */

li {
    list-style: none;
}


#homepage h2 {
    font-size: 90px;
    font-family: "Proxima-Nova", sans-serif;
    font-weight: lighter;
}

#homepage h3 {
    font-size: 48px;
    margin-bottom: 20px;
    font-family: "Proxima-Nova", sans-serif;
    font-weight: lighter;
}

#homepage h4 {
    font-size: 18px;
    margin-top: 20px;
    font-family: "Proxima-Nova", sans-serif;
    font-weight: lighter;
}

#homepage h5 {
    font-size: 12px;
    text-transform: uppercase;
    color: #ec1c23;
    font-weight: 600;
    font-family: "Proxima-Nova", sans-serif;
}


/* NAVBAR */
#navbar {
    background-color: transparent;
    text-transform: uppercase;
    padding: 5px 100px 0 120px;
    font-size: 14px;
    font-family: "Proxima-Nova", sans-serif;
    font-weight: normal;

    transition: all linear 750ms;
    transition-property: opacity, background-color;
}

#navbar .logo-white {
    margin-top: 5px;
}

#navbar .logo-red {
    display: none;
}

#navbar.scrolled {
    backface-visibility: visible;
    /* For browsers that do not support gradients */
    background: #f5f7f1;
    background: -webkit-linear-gradient(#f5f7f1, #ccc);
    background: -o-linear-gradient(#f5f7f1, #ccc);
    background: -moz-linear-gradient(#f5f7f1, #ccc);
    background: linear-gradient(#f5f7f1, #ccc);
    opacity: 0.95;
}

#navbar.scrolled .logo-red {
    margin: 5px 0;
    display: block;
}

#navbar.scrolled .logo-white {
    display: none;
}

#navbar.scrolled a {
    color: #ec1c23;
}

#navbar.scrolled .btn {
    background-color: #ec1c23;
    color: #f5f7f1;
}

#navbar.scrolled .navbar-toggler {
    color: #ec1c23;
}

#navbar.scroll-hidden {
    opacity: 0.0;
    transition: opacity linear 250ms;
}

#navbar.scroll-visible {
    opacity: 1.0;
    transition: opacity linear 250ms;
}

#navbar .nav-item {
    margin-right: 35px;
}

#navbar a {
    color: #f5f7f1;
    white-space: normal;
}

#navbar a:hover {
    text-decoration: underline;
    background-color: transparent;
}

#navbar .btn {
    background-color: #f5f7f1;
    border: 0;
    color: #ec1c23;
    padding: 4px 7px 2px;
    font-size: 14px;
    font-family: "Proxima-Nova", sans-serif;
    font-weight: normal;
    margin-top: 4px;
}

#navbar .navbar-toggler {
    color: #f5f7f1;
    margin-right: 10px;
}

#navbar .dropdown-menu {
     /* For browsers that do not support gradients */
    background: #f5f7f1;

    background: -webkit-linear-gradient(#f5f7f1, #ccc);
    background: -o-linear-gradient(#f5f7f1, #ccc);
    background: -moz-linear-gradient(#f5f7f1, #ccc);
    background: linear-gradient(#f5f7f1, #ccc);

    width: auto;
    left: 50%;
    right: auto;
    text-align: center;
    transform: translate(-50%, 0);
    border: none;
    padding: 15px;
}

#navbar .large-menu.dropdown-menu {
    width: 370px;
}

#navbar a.dropdown-item {
    text-align: left;
    line-height: 1.25em;
    color: #6d6e71;
    font-size: 11px;
    font-family: "Proxima-Nova", sans-serif;
    font-weight: normal;
    text-transform: capitalize;
    padding-left: 0;
}

#navbar h5 {
    padding-left: 0;
    font-size: 10px;
    font-weight: 600;
}

#navbar .dropdown-menu ul{
    padding: 0;
}

#navbar .arrow {
    border: 10px solid transparent;
    border-color: transparent transparent #f5f7f1 transparent;
    width: 0;
    height: 0;

    position: absolute;
    top: -20px;
    left: 50%;

    transform: translateX(-10px);
}

/* MOBILE NAVBAR*/
@media screen and (max-width : 768px) {
    #navbar .logo-white {
        height: 35px;
        margin-top: 0;
    }

    #navbar.scrolled .logored {
        display: inline-block;
    }

    #navbar.scrolled .logo-red {
        height: 35px;
        margin-top: 0;
    }

    #navbar {
        padding: 0 10px;
    }
}

#navbar .navbar-side {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    list-style: none;

    background: #f5f7f1;

    background: -webkit-linear-gradient(#f5f7f1, #ccc);
    background: -o-linear-gradient(#f5f7f1, #ccc);
    background: -moz-linear-gradient(#f5f7f1, #ccc);
    background: linear-gradient(#f5f7f1, #ccc);

    overflow-y: scroll;
    z-index: 1000;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
}

#navbar .close-side-button {
    position: absolute;
    top: 10px;
    right: 0;
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-align: center;

    z-index: 1000;
}

#navbar #navbar-side-items a{
    color: #6d6e71;
    font-size: 18px;
    font-family: "Proxima-Nova", sans-serif;
    text-transform: capitalize;
    margin-left: 0;
}

#navbar #navbar-side-items ul {
    font-family: "Proxima-Nova", sans-serif;
    padding: 0 20px 20px;
}

#navbar .reveal {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: -webkit-transform 0.5s;
    transition-property: -webkit-transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition: transform 0.5s;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

#navbar .overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 990;
}

/* FIRST CARD */
#homepage .first-card {
    /* For browsers that do not support gradients */
    background: #ec1c23;

    background: -webkit-linear-gradient(#ec1c23, #1d2671);
    background: -o-linear-gradient(#ec1c23, #1d2671);
    background: -moz-linear-gradient(#ec1c23, #1d2671);
    background: linear-gradient(#ec1c23, #1d2671);

    color: #f5f7f1;
    font-family: "Proxima-Nova", sans-serif;
    position: relative;
    z-index: 100;
    /* margin-top: 100px; */
}

/* #homepage .first-card .complex-clouds {
    overflow: hidden;
} */

#homepage .first-card h3 {
    padding-top: 230px;
}

#homepage .first-card h4 {
    padding: 5px 0 300px;
}

#homepage .card-title {
    text-align: center;
}

#homepage .first-card.fixed .complex-clouds {
    position: fixed;
    top: 100px;
    left: 0;
    height: 570px;

    /* Removing left/right margin from Bootstrap  */
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

#homepage .first-card .complex-clouds {
    position: relative;
    height: 570px;
    /* min-width: 1120px; */
}

#homepage .first-card .img-triangle {
    position: absolute;
    top: 70px;
    right: 120px;

    width: 510px;
    height: 453px;
}

/* MEDIUM FIRST CARD */
@media screen and (max-width : 1024px) {
    #homepage .first-card .img-triangle {
        position: absolute;
        top: 70px;
        right: -88px;
    }
}

/* MOBILE FIRST CARD */
@media screen and (max-width : 768px) {

    .with-line {
        position: relative;
    }

    .with-line:before {
        content: '';

        width: 50px;
        height: 1px;
        border-style: solid;
        border-width: 1px;
        border-color: #ccc;
        background-color: #ccc;
        opacity: 0.5;
        border-radius: 1px;
        position: absolute;
        top: -10px;
        left: 50%;

        transform: translateX(-25px);
    }

    #homepage  h2 {
        font-size: 60px;
        margin-left: 20px;
    }

    #homepage .first-card .complex-clouds {
        position: relative;

        /*
        In mobile mode, the .complex-clouds container collapses because the
        .img-triangle becomes position: absolute.  We need to expand this
        container to the image height (453px) plus whatever bottom "padding"
        */
        height: 550px;

        top: 0;
        left: 0;
        /* min-width: 500px; */
    }

    #homepage .first-card.fixed .complex-clouds {
        top: 0;
        left: 0px;
        width: 100%;
        /* min-width: 500px; */
    }

    #homepage .first-card .img-triangle {
        position: absolute;
        top: 70px;
        right: -140px;
    }
}


/* SECOND CARD */
#homepage .second-card {
    box-sizing: content-box;
    padding: 0 0 100px 0;

    /* For browsers that do not support gradients */
    background: #f16529;

    background: -webkit-linear-gradient(#f16529, #ec1c23);
    background: -o-linear-gradient(#f16529, #ec1c23);
    background: -moz-linear-gradient(#f16529, #ec1c23);
    background: linear-gradient(#f16529, #ec1c23);

    color: #f5f7f1;
    font-family: "Proxima-Nova", sans-serif;

    position: relative;
    z-index: 200;
}

#homepage .second-card.fixed .title-row-secondcard {
    clip: rect(0, 0, 0, 0);
    padding: 0;
    position: fixed;
    top: 100px;
    left: 0;

    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

#homepage .second-card .title-row-secondcard {
    position: relative;
    padding: 100px 0 0 0;
}

#homepage .title-row-secondcard .but-they-dont-have-to-be {
    margin-bottom: 223px;
}

#homepage .second-card.fixed .title-row-secondcard .img-cube {
    position: absolute;
    top: 215px;
    right: 258px;
}

#homepage .second-card .title-row-secondcard .img-cube {
    width: 241px;
    height: 276px;

    position: absolute;
    top: 315px;
    right: 258px;
}

#homepage .second-card .title-row-secondcard .img-cube img {
    position: absolute;
    top: 0;
    left: 0;
}

#homepage .second-card .title-row-secondcard img.img-cube-mobile {
    display: none;
}

#homepage .second-card .title-row-secondcard img.img-cube-desktop {
     position: relative;
}

#homepage .second-card.fixed .text-row-secondcard {
    opacity: 0;
    transition: all linear 0.5s;

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#homepage .second-card .text-row-secondcard {
    padding-top: 0;
    margin: 0 0 50px 0;
    opacity: 1.0;
    transition: all linear 1s;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#homepage .second-card a {
    margin: 10px 0 30px 20px;
    color: #f5f7f1;
    font-weight: bold;
}

#homepage .second-card .text-row-secondcard li.important-item {
    font-weight: bold;
}

#homepage .second-card .text-row-secondcard h4 {
    font-size: 30px;
    font-weight: normal;
}

#homepage .second-card .text-row-secondcard ul {
    padding: 0;
    margin: 20px 0 0 20px;
}
#homepage .second-card .text-row-secondcard li {
    font-size: 18px;
    font-weight: normal;
}

#homepage .second-card .text-row-secondcard p {
    margin: 20px 0 0 20px;
    font-size: 18px;
    font-weight: normal;
}

/* MEDIUM SECOND CARD */
@media screen and (max-width : 1024px) {
    #homepage .second-card.fixed .title-row-secondcard .img-cube {
        position: absolute;
        top: 215px;
        right: 50px;
    }

    #homepage .second-card .title-row-secondcard .img-cube {
        position: absolute;
        top: 315px;
        right: 50px;
    }
}

/* MOBILE SECOND CARD */
@media screen and (max-width : 768px) {
    #homepage .second-card {
        background: #f5f7f1;
    }

    #homepage .second-card.fixed .title-row-secondcard {
        top: 0;
    }

    #homepage .second-card .title-row-secondcard {
        color: #ec1c23;
        padding: 0 0 10px 0;

        /*
        Height won't be properly calculated as .img-cube is
        position: absolute.  This height is used to offset that problem.
        */
        height: 500px;
    }

    #homepage .second-card.card-section {
        padding-top: 0;
    }

    #homepage .second-card.fixed .title-row-secondcard .img-cube,
    #homepage .second-card .title-row-secondcard .img-cube {
        position: absolute;
        top: 220px;
        right: -2px;
    }

    #homepage .second-card .title-row-secondcard img.img-cube-desktop {
        display: none;
    }

    #homepage .second-card .title-row-secondcard img.img-cube-mobile {
        display: block;

        /* position: absolute; */
        /* top: 0; */
        /* right: 0; */
    }

    #homepage .second-card .text-row-secondcard {
    /* For browsers that do not support gradients */
        background: #f16529;

        background: -webkit-linear-gradient(#f16529, #ec1c23);
        background: -o-linear-gradient(#f16529, #ec1c23);
        background: -moz-linear-gradient(#f16529, #ec1c23);
        background: linear-gradient(#f16529, #ec1c23);
        padding-top: 70px;
    }

    #homepage .second-card h4 {
        margin: 5px;
        text-align: center;
        font-size: 30px;
        color: #f5f7f1;
        font-weight: 500;
        line-height: 1.5;
    }

    #homepage .second-card li, p, a {
        margin: 5px;
        font-size: 24px;
        text-align: center;
    }

    #homepage .second-card .learn-more-second-card {
        padding-top: 10px;
        text-align: center;
    }
}


/* THIRD CARD */
#homepage .features-card {
    background-color: #f5f7f1;
    text-align: center;
    color: #ec1c23;
    padding: 100px 0;
    position: relative;
    z-index: 300;
}

#homepage .features-card h4 {
    font-size: 30px;
    font-weight: normal;
}

#homepage .features-card p {
    font-size: 18px;
    font-weight: normal;
    margin-top: 10px;
}

#homepage .features-card .text-row-features-card h4 {
    margin-top: 100px;
}


/*MOBILE THIRD CARD*/
@media screen and (max-width : 768px) {

    #homepage .features-card h4 {
        font-size: 30px;
        margin-left: 20px;
    }

    #homepage .tech-brief img {
        display: inline-block;
        height: 230px;
    }

    #homepage .features-card .card-section .workloads p {
        margin-left: 40px;
    }
}
/* CALL TO ACTION CARD */
#homepage .call-to-action-card {
    background: #f16529;

    background: -webkit-linear-gradient(#f16529, #ec1c23);
    background: -o-linear-gradient(#f16529, #ec1c23);
    background: -moz-linear-gradient(#f16529, #ec1c23);
    background: linear-gradient(#f16529, #ec1c23);

    color: #f5f7f1;
    font-family: "Proxima-Nova", sans-serif;

    position: relative;
    z-index: 400;
}

#homepage .call-to-action-card a {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color: #fff;
}

#homepage .call-to-action-card a:link {
    color: #f5f7f1;
}

#homepage .call-to-action-card .cta-block {
    text-align: center;
    padding: 100px 0;
}

#homepage .call-to-action-card::before {
    content: '';

    width: 1px;
    height: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #f5f7f1;
    background-color: #f5f7f1;
    opacity: 0.5;
    border-radius: 1px;
    position: absolute;
    top: 0px;
    left: 50%;
}

/*MOBILE CALL TO ACTION CARD*/
@media screen and (max-width : 768px) {
    #homepage #call-to-action {
        padding: 40px 0;
    }

    #homepage .call-to-action-card {
        padding: 0;
    }

    #homepage .call-to-action-card .cta-block {
        padding: 0;
    }

    #homepage .call-to-action-card::before{
        display: none;
    }
    #homepage .call-to-action-card .row .col-sm-12 {
        position: relative;
    }

    #homepage .call-to-action-card .row .col-sm-12::after {
        content: '';

        background: #f5f7f1;
        width: 50px;
        height: 2px;
        opacity: 0.5;

        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-25px);

        border-radius: 25px;
    }

    #homepage .call-to-action-card .row .col-sm-12:first-child::after {
        display: none;
    }

    #homepage .call-to-action-card .row .col-sm-12 {
        position: relative;
        height: 100px;
    }

    #homepage .call-to-action-card .row .col-sm-12 a {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100px;
        line-height: 100px;
    }
}

/* FOOTER */
.footer {
    /* For browsers that do not support gradients */
    background: #f5f7f1;

    background: -webkit-linear-gradient(#f5f7f1, #ccc);
    background: -o-linear-gradient(#f5f7f1, #ccc);
    background: -moz-linear-gradient(#f5f7f1, #ccc);
    background: linear-gradient(#f5f7f1, #ccc);
    position: relative;
    z-index: 500;
}

#footer.footer.card-section {
    padding-top: 100px;
     padding-bottom: 20px;
}

.footer a {
    color: #6d6e71;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5em;
}

.footer p {
    margin-bottom: 0;
    color: #6d6e71;
    font-size: 10px;
}

.footer ul {
    padding: 0 0 40px 0;
    line-height: 1.25em;
    color: #ec1c23;
}

.footer .copy-privacy a,
.footer .copy-privacy p {
    font-size: 9px;
    font-weight: lighter;
}

.footer .logo {
    padding: 0 0 20px;
}

.footer .contact-info {
    padding-left: 15px;
}

.footer .social-icons{
    font-size: 20px;
    color: #ec1c23;
    margin-bottom: 10px;
    }

.footer .copy-privacy #mobile-footer-logo {
    display: none;
}

/*MOBILE FOOTER*/
@media screen and (max-width : 768px) {

    .footer .mobile-footer-settings {
         display: block;
        margin-top: 10px;
    }

    .footer .logo {
        display: none;
    }

    #footer .footer.card-section {
         padding: 40px 10px;
    }

    .footer .social-icons{
        padding-left: 20px;
        }

    /* Toggle Buttons */
    .footer .toggle-footer::before,
    .footer .toggle-footer::after {
        content: '';

        background: #6d6e71;
        width: 50px;
        height: 2px;
        opacity: 0.5;

        position: absolute;
        left: 90px;
        transform: translateX(-25px);

        border-radius: 25px;
    }

    .footer .toggle-footer .btn {
        background-color: transparent;
        min-height: 40px;
        color: #6d6e71;
        font-size: 18px;
        padding-left: 20px;
    }

    .footer .toggle-footer .btn.collapse-footer.collapsed {
        display: none;
    }

    .footer .toggle-footer .btn.expand-footer.collapsed {
        display: block;
    }

    .footer .toggle-footer .btn.collapse-footer {
        display: block;
    }

    .footer .toggle-footer .btn.expand-footer {
        display: none;
    }

    /* Footer Content */
    .footer a {
        font-size: 18px;
    }
    .footer .copy-privacy a {
        font-size: 12px;
    }

    .footer .copy-privacy p {
        font-size: 12px;
    }

    .footer .copy-privacy {
        text-align: center;
        margin-bottom: 0;
    }

    .footer .dropdown-menu {
        background-color: transparent;
        border: none;
        position: relative;
        padding-left: 15px;
    }
    .footer #desktop-menu {
        display: none;
    }

    .footer .copy-privacy #mobile-footer-logo {
        display: inline;
        margin: 150px 0 20px;
    }
}
