/*
color scheme:
    #ec1c23 as Red
    #1d2671 as Blue
    #f16529 as Orange
    #f5f7f1 as White
    #ccc as Light grey
    #6d6e71 as Dark grey

font-familiy:
    proxima nova
font-weight:
*/

/* GENERAL */
body {
    font-family: 'Proxima Nova', sans-serif;
    overflow-x: hidden;
}

/* TODO: Define h1 default size  */

li {
    list-style: none;
}

hr {
    display: none;
}

#homepage h2 {
    font-size: 82px;
    margin-left: 200px;
}

#homepage h3 {
    font-size: 42px;
    margin-bottom: 20px;
}

#homepage h4 {
    font-size: 24px;
    margin-top: 20px;
}

#homepage h5 {
    font-size: 12px;
    text-transform: uppercase;
    color: #ec1c23;
    font-weight: bold;
}

#homepage .card-section {
    padding: 100px 0;
}

/* NAVBAR */
#navbar {
    background-color: transparent;
    text-transform: uppercase;
    padding: 0 100px 100px 120px;
    font-size: 12px;
}

.fade-in {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;

}

.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

#navbar .nav-item {
    margin-right: 35px;
}

#navbar a {
    color: #f5f7f1;
    white-space: normal;
}

#navbar .btn {
    background-color: #f5f7f1;
    border: 0;
    color: #ec1c23;
    padding: 4px 7px 2px;
    font-size: 12px;
    text-transform: uppercase;
}

#navbar .navbar-toggler {
    color: #f5f7f1;
    margin-right: 10px;
}

#navbar .dropdown-menu {
     /* For browsers that do not support gradients */
    background: #f5f7f1;

    background: -webkit-linear-gradient(#f5f7f1, #ccc);
    background: -o-linear-gradient(#f5f7f1, #ccc);
    background: -moz-linear-gradient(#f5f7f1, #ccc));
    background: linear-gradient(#f5f7f1, #ccc);

    width: 370px;
    left: 50%;
    right: auto;
    text-align: center;
    transform: translate(-50%, 0);
    border: none;
    padding: 15px;
}

#navbar a.dropdown-item {
    text-align: left;
    line-height: 1.25em;
    color: #6d6e71;
    font-size: 12px;
    text-transform: capitalize;
    padding-left: 0;
}

#navbar h5 {
    padding-left: 0;
}

#navbar .dropdown-menu ul{
    padding: 0;
}

#navbar .arrow {
    border: 10px solid transparent;
    border-color: transparent transparent #f5f7f1 transparent;
    width: 0;
    height: 0;

    position: absolute;
    top: -20px;
    left: 50%;

    transform: translateX(-10px);
}

/* MOBILE NAVBAR*/
@media screen and (max-width : 768px) {
    #navbar .logo-white {
        height: 35px;
    }

    #navbar {
    padding: 15px 10px;
    }
}
    #navbar .navbar-side {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        padding: 20px;
        list-style: none;

        background: #f5f7f1;

        background: -webkit-linear-gradient(#f5f7f1, #ccc);
        background: -o-linear-gradient(#f5f7f1, #ccc);
        background: -moz-linear-gradient(#f5f7f1, #ccc);
        background: linear-gradient(#f5f7f1, #ccc);

        overflow-y: scroll;
        z-index: 1000;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: 300ms ease;
        transition: 300ms ease;
        @include media-breakpoint-up(xs) { width: 100% };
        @include media-breakpoint-up(sm) { width: 50% };
        @include media-breakpoint-up(md) { width: 25% };
}

    #navbar .close-side-button {
    position: absolute;
    top: 10px;
    right: 0;
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-align: center;

    }

    #navbar #navbar-side-items a{
        color: #6d6e71;
        font-size: 18px;
        text-transform: capitalize;
        margin-left: 0;
    }

    #navbar #navbar-side-items ul {
        padding: 0 20px 20px;
    }

     #navbar .reveal {
      -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
      transform: translateX(0%);
      -webkit-transition: -webkit-transform 0.5s;
        transition-property: -webkit-transform;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        transition-delay: 0s;
      transition: transform 0.5s;
        transition-property: transform;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        transition-delay: 0s;
    }

    #navbar .overlay {
      position: fixed;
      display: none;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 990;
    }

/* FIRST CARD */
#homepage .bluered-card {
    /* For browsers that do not support gradients */
    background: #ec1c23;

    background: -webkit-linear-gradient(#ec1c23, #1d2671);
    background: -o-linear-gradient(#ec1c23, #1d2671);
    background: -moz-linear-gradient(#ec1c23, #1d2671);
    background: linear-gradient(#ec1c23, #1d2671);

    padding-bottom: 100px;
    color: #f5f7f1;
}

#homepage .bluered-card .complex-clouds {
    overflow: hidden;
}

#homepage .bluered-card h3 {
    padding-top: 100px;
}

#homepage .bluered-card h4 {
    padding: 5px 0 300px;
}

#homepage .card-title {
    text-align: center;
    position: relative;
}

#homepage .img-triangle {
    padding-top: 60px;
}

/*MOBILE FIRST CARD*/
@media screen and (max-width : 768px) {

    .with-line {
        position: relative;
    }

    .with-line:before {
        content: '';

        width: 50px;
        height: 1px;
        border-style: solid;
        border-width: 1px;
        border-color: #ccc;
        background-color: #ccc;
        opacity: 0.5;
        border-radius: 1px;
        position: absolute;
        top: -10px;
        left: 50%;

        transform: translateX(-25px);
    }

    #homepage  h2 {
        font-size: 60px;
        margin-left: 20px;
    }

    #homepage .img-triangle {
        margin-top: -100px;
        margin-left: 100px;
        padding-top: 0;
        float: right;
        position: relative;
    }
}

/* SECOND CARD */
#homepage .redorange-card {
    /* For browsers that do not support gradients */
    background: #f16529;

    background: -webkit-linear-gradient(#f16529, #ec1c23);
    background: -o-linear-gradient(#f16529, #ec1c23);
    background: -moz-linear-gradient(#f16529, #ec1c23);
    background: linear-gradient(#f16529, #ec1c23);

    padding: 100px 0;
    color: #f5f7f1;
}

#homepage .redorange-card a {
    color: #f5f7f1;
    font-weight: 500;
}

#homepage .redorange-card .text-row-orangecard {
    padding-top: 200px;
}

#homepage .img-cube-mobile {
        display: none;
    }
}
/*MOBILE SECOND CARD*/
@media screen and (max-width : 768px) {
    #homepage #title-row-orangecard {
    color: #ec1c23;
    background-color: #f5f7f1;
    padding: 100px 0 10px 0;
    }
    #homepage .redorange-card.card-section {
        padding-top: 0;
    }

    #homepage .img-cube-desktop {
        display: none;
    }

    #homepage .img-cube-mobile {
        margin: 70px 0 30px -20px;
        float: right;
        position: relative;
        display:block;
    }
    #homepage .redorange-card .text-row-orangecard {
        padding-top: 70px;
    }
    #homepage .redorange-card h4 {
        font-size: 30px;
        color: #f5f7f1;
        font-weight: 500;
        line-height: 1.5;
    }

    #homepage .redorange-card a, li, p {
        font-size: 24px;
    }
}

/* THIRD CARD */
#homepage .white-card {
    background-color: #f5f7f1;
    text-align: center;
    color: #ec1c23;
}

#homepage .white-card .text-row-whitecard {
    padding-top: 100px;
}


/*MOBILE THIRD CARD*/
@media screen and (max-width : 768px) {
    #homepage .white-card .card-title {
        text-align: left;
    }

    #homepage .white-card h4 {
        font-size: 30px;
        margin-left: 20px;
    }
    #homepage .tech-brief img {
        display: inline-block;
        height: 230px;
    }
    #homepage .white-card .workloads-row p {
        text-align: left;
        margin-left: 40px;
    }
}
/* CALL TO ACTION CARD */
/* Inherits backgrouds and link colors from SECOND CARD */
#homepage .call-to-action-card {
    text-transform: uppercase;
    font-size: 24px;
    text-align: center; 
    position: relative;
}

#homepage .call-to-action-card::before {
    content: '';

    width: 1px;
    height: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    background-color: white;
    opacity: 0.5;
    border-radius: 1px;
    position: absolute;
    top: 0px;
    left: 50%;

    transform: translateX(-25px);
}

/*MOBILE CALL TO ACTION CARD*/
@media screen and (max-width : 768px) {
    #homepage #call-to-action {
        padding: 40px 0;
    }

    #homepage .call-to-action-card {
        padding: 0;
    }

    #homepage .call-to-action-card .row .col-sm-12 {
        position: relative;
    }

    #homepage .call-to-action-card .row .col-sm-12::after {
        content: '';

        background: white;
        width: 50px;
        height: 2px;
        opacity: 0.5;

        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-25px);

        border-radius: 25px;
    }

    #homepage .call-to-action-card .row .col-sm-12:first-child::after {
        display: none;
    }

    #homepage .call-to-action-card .row .col-sm-12 {
        position: relative;
        height: 100px;
    }

    #homepage .call-to-action-card .row .col-sm-12 a {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100px;
        line-height: 100px;
    }
}

/* FOOTER */
.footer {
    /* For browsers that do not support gradients */
    background: #f5f7f1;

    background: -webkit-linear-gradient(#f5f7f1, #ccc);
    background: -o-linear-gradient(#f5f7f1, #ccc);
    background: -moz-linear-gradient(#f5f7f1, #ccc));
    background: linear-gradient(#f5f7f1, #ccc);
}

.footer a {
    color: #6d6e71;
    font-size: 12px;
    line-height: 1.5em;
}

.footer p {
    margin-bottom: 0;
    color: #6d6e71;
    font-size: 10px;
}

.footer ul {
    padding: 0;
    line-height: 1.25em;
    color: #ec1c23;
}

.footer .copy-privacy a {
    font-size: 10px;
}

.footer .copy-privacy p {
    font-size: 10px;
}

.footer .logo {
    padding: 0 0 20px;
}

.footer .social-icons{
    font-size: 20px;
    color: #ec1c23;
    margin-bottom: 10px;
    }

.footer .copy-privacy #mobile-footer-logo {
    display: none;
}

/*MOBILE FOOTER*/
@media screen and (max-width : 768px) {

    .footer .mobile-footer-settings {
         display: block;
        margin-top: 10px;
    }

    .footer .logo {
        display: none;
    }

    #homepage .footer.card-section {
         padding: 40px 10px;
    }

    /* Toggle Buttons */
    .footer .toggle-footer::before,
    .footer .toggle-footer::after {
        content: '';

        background: #6d6e71;
        width: 50px;
        height: 2px;
        opacity: 0.5;

        position: absolute;
        left: 11%;
        transform: translateX(-25px);

        border-radius: 25px;
    }

    .footer .toggle-footer .btn {
        background-color: transparent;
        min-height: 40px;
        color: #6d6e71;
        font-size: 18px;
        padding-left: 0;
    }

    .footer .toggle-footer .btn.collapse-footer.collapsed {
        display: none;
    }

    .footer .toggle-footer .btn.expand-footer.collapsed {
        display: block;
    }

    .footer .toggle-footer .btn.collapse-footer {
        display: block;
    }

    .footer .toggle-footer .btn.expand-footer {
        display: none;
    }

    /* Footer Content */
    .footer a {
        font-size: 18px;
        text-transform: capitalize;
    }
    .footer .copy-privacy a {
        font-size: 12px;
    }

    .footer .copy-privacy p {
        font-size: 12px;
    }

    .footer .copy-privacy {
        text-align: center;
        margin-bottom: 0;
    }

    .footer .dropdown-menu {
        background-color: transparent;
        border: none;
        position: relative;
    }
    .footer #desktop-menu {
        display: none;
    }

    .footer .copy-privacy #mobile-footer-logo {
        display: inline;
        margin: 150px 0 20px;
    }
}
